.app {
  display: grid;
  grid-template-columns: 20% 70%;
  padding-top: 5rem;
}

.food-items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
}

.footer {
  /* position: fixed; */
  /* bottom: 0.3rem; */
  display: flex;
  justify-content: space-evenly;
}