:root {
  --font-color: #C6D7EF;
  --background: #222427;
  --header: #525c67;
  --accent: #6879A3;
  --primary: #363C43;
  --field: #E5E5E5;
  --present-color: #62a362;
  --absent-color: rosybrown;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  font-size: clamp(1rem, 1vw, 2rem); 
  margin: 0;
  background:var(--background);
  color: var(--font-color);
}